/* font-face */
@font-face {
  font-family: "Gilroy-Light";
  src: url("./fonts/Gilroy-Light.otf");
}

@font-face {
  font-family: "Gilroy-ExtraBold";
  src: url("./fonts/Gilroy-ExtraBold.otf");
}

/* Color Variables */
:root {
  --color-1: #1fffd6;
  --color-2: #37eeff;
  --color-7: #009fff;
  --color-3: #557aff;
  --color-4: #583eff;
  --color-5: #d735ff;
  --color-6: #ed29ff;
  --color-3a: #3a3a3a;
  --color-white: #ffffff;
  --color-grey: #5c5c5c;

  --color-green1: #97de81;
  --color-green2: #00d48d;

  --color-red1: #ff3c11;
  --color-red2: #ff8660;

  --color-male: #6176ed;

  --color-female: #ed6661;

  --discord-color: #2d4dff;
  --insta-color: #d4407e;
  --reddit-color: #e94517;
  --twitch-color: #6416ff;
  --twitter-color: #0a82eb;
  --youtube-color: #e44d3f;
}

/* Global Elements */
* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Gilroy-ExtraBold", sans-serif, "Quicksand", "Segoe UI", Tahoma,
    Geneva, Verdana, sans-serif;
}

main {
  padding: 0.5em 0.5em 6em 0.5em;
  min-width: 320px;
  max-width: 1920px;
}

h1,
h2 {
  letter-spacing: 3px;
  font-weight: 500;
  margin: 0;
  color: var(--color-3a);
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

h3,
h4,
h5,
h6 {
  letter-spacing: 1px;
  font-weight: 500;
  margin: 0;
  color: var(--color-3a);
}

p,
small {
  letter-spacing: 1px;
  margin: 0 0 0.5em 0;
}

p {
  color: var(--color-3a);
}

p,
a,
input,
button,
textarea,
select {
  font-size: 20px;
  font-family: "Gilroy-ExtraBold", sans-serif, "Segoe UI", Tahoma, Geneva,
    Verdana, sans-serif;
}

small {
  font-size: 16px;
  color: var(--color-3a);
  font-family: "Gilroy-Light", sans-serif, "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
}

li {
  margin-bottom: 8px;
}

/* Gradients */
.gradient-1 {
  background: var(--color-4);
  background: linear-gradient(
    141deg,
    var(--color-1) 5%,
    var(--color-3) 35%,
    var(--color-4) 65%,
    var(--color-5) 85%,
    var(--color-6) 100%
  );
}

.gradient-2 {
  background: var(--color-2);
  background: linear-gradient(
    132deg,
    rgba(55, 238, 255, 1) 0%,
    rgba(85, 122, 255, 1) 25%,
    rgba(88, 62, 255, 1) 50%,
    rgba(215, 53, 255, 1) 75%,
    rgba(237, 41, 255, 1) 100%
  );
}

.gradient-3 {
  background: var(--color-5);
  background: linear-gradient(
    132deg,
    rgba(237, 41, 255, 1) 0%,
    rgba(215, 53, 255, 1) 25%,
    rgba(88, 62, 255, 1) 50%,
    rgba(85, 122, 255, 1) 75%,
    rgba(55, 238, 255, 1) 100%
  );
}

.gradient-4 {
  background: var(--color-2);
  background: linear-gradient(
    132deg,
    rgba(31, 255, 214, 1) 0%,
    rgba(55, 238, 255, 1) 20%,
    rgba(88, 62, 255, 1) 55%,
    rgba(85, 122, 255, 1) 80%,
    rgba(215, 53, 255, 1) 100%
  );
}

.gradient-5 {
  background: var(--color-3);
  background: linear-gradient(
    132deg,
    rgba(85, 122, 255, 1) 0%,
    rgba(88, 62, 255, 1) 37%,
    rgba(215, 53, 255, 1) 75%,
    rgba(237, 41, 255, 1) 99%
  );
}

.gradient-6 {
  background: var(--color-4);
  background: linear-gradient(
    132deg,
    rgba(215, 53, 255, 1) 0%,
    rgba(88, 62, 255, 1) 51%,
    rgba(113, 0, 255, 1) 100%
  );
}

.gradient-7 {
  background: var(--color-7);
  background: linear-gradient(
    125deg,
    rgba(31, 255, 214, 1) 0%,
    rgba(55, 238, 255, 1) 37%,
    rgba(0, 159, 255, 1) 100%
  );
}

.gradient-success {
  background: var(--color-green2);
  background: linear-gradient(
    125deg,
    rgba(151, 222, 129, 1) 0%,
    rgba(0, 212, 141, 1) 50%
  );
}

.gradient-warning {
  background: var(--color-red1);
  background: linear-gradient(
    125deg,
    rgba(255, 134, 96, 1) 0%,
    rgba(255, 60, 17, 1) 100%
  );
}

.gradient-male {
  background: var(--color-male);
  background: linear-gradient(
    0deg,
    var(--color-male) 0%,
    var(--color-male) 100%
  );
}

.gradient-female {
  background: var(--color-female);
  background: linear-gradient(
    0deg,
    var(--color-female) 0%,
    var(--color-female) 100%
  );
}

/* general */
.cursor-pointer {
  cursor: pointer;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.disableScroll {
  overflow: hidden;
}

button:disabled {
  cursor: initial !important;
}

/* backgrounds */
.background-white {
  background-color: var(--color-white);
}

/* text */
.weight-400 {
  font-weight: 400;
}

.weight-500 {
  font-weight: 500;
}

.weight-600 {
  font-weight: 500;
}

.weight-700 {
  font-weight: 600;
}

.text-shadow-black {
  text-shadow: 1px 1px 0px var(--color-3a), 2px 2px 0px var(--color-3a);
}

.text-shadow-white {
  text-shadow: 1px 1px 0px var(--color-white), 2px 2px 0px var(--color-white);
}

.text-shadow-black-reverse {
  text-shadow: -1px -1px 0px var(--color-3a), -2px -2px 0px var(--color-3a);
}

.text-shadow-white-reverse {
  text-shadow: -1px -1px 0px var(--color-white),
    -1px -2px 0px var(--color-white);
}

.gradient-text {
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

.color-white {
  color: var(--color-white);
}

.color-grey {
  color: var(--color-grey);
}

.text-align-center {
  text-align: center;
}

/* image sizes */
.img-small {
  position: relative;
  width: 1.5em;
  height: 1.5em;
}

.img-medium {
  position: relative;
  width: 2.25em;
  height: 2.25em;
}

.img-large {
  position: relative;
  width: 3.5em;
  height: 3.5em;
}

/* layouts */
.display-none {
  display: none;
}

.display-block {
  display: block;
}

.display-inline {
  display: inline;
}

.display-flex-row {
  display: flex;
}

.display-inline-flex {
  display: inline-flex;
}

.display-flex-column {
  display: flex;
  flex-direction: column;
}

.display-inline-flex-column {
  display: inline-flex;
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.flex-wrap {
  flex-wrap: wrap;
}

.horizontal-flex-overflow-container {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}

.horizontal-flex-overflow-hidden-container {
  display: flex;
  flex-direction: row;
}

.horizontal-flex-overflow-item {
  width: fit-content;
  min-width: max-content;
}

/* padding */
.padding-0 {
  padding: 0;
}

.padding-2 {
  padding: 2px;
}

.padding-5 {
  padding: 5px;
}

.padding-10 {
  padding: 10px;
}

.padding-left-right-5 {
  padding-right: 5px;
  padding-left: 5px;
}

.padding-left-right-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.padding-top-bottom-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.padding-top-bottom-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* margin */
.margin-0 {
  margin: 0;
}

.margin-1 {
  margin: 0.65em;
}

.margin-2 {
  margin: 1em;
}

.margin-3 {
  margin: 2em;
}

.margin-right-small {
  margin-right: 0.65em;
}

.margin-right-medium {
  margin-right: 1em;
}

.margin-right-large {
  margin-right: 1.5em;
}

.margin-right-extra-large {
  margin-right: 2em;
}

/* gaps (used to seperate components) */
.bottom-margin-none {
  margin-bottom: 0;
}

.bottom-margin-extra-small {
  margin-bottom: 0.25em;
}

.bottom-margin-small {
  margin-bottom: 0.5em;
}

.bottom-margin-medium {
  margin-bottom: 1em;
}

.bottom-margin-large {
  margin-bottom: 2.5em;
}

/* width & height */
.width-100 {
  width: 100%;
}

.height-100 {
  height: 100%;
}

.width-50 {
  width: 50%;
}

.height-50 {
  height: 50%;
}

.width-90 {
  width: 90%;
}

/* border-radius */
.border-radius-8 {
  border-radius: 8px;
}

.border-radius-10 {
  border-radius: 10px;
}

.border-radius-12 {
  border-radius: 12px;
}

.border-radius-18 {
  border-radius: 18px;
}

.border-radius-20 {
  border-radius: 20px;
}

/* shadows */
.normal-shadow {
  box-shadow: 0 3px 4px 0px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0 3px 4px 0px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 3px 4px 0px rgba(0, 0, 0, 0.24);
}

.normal-drop-shadow {
  filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.24));
}

.clickable-shadow {
  box-shadow: 0 3px 4px 0px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0 3px 4px 0px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 3px 4px 0px rgba(0, 0, 0, 0.24);
  transition: box-shadow 0.1s, transform 0.2s;
  -webkit-transition: box-shadow 0.1s, transform 0.2s;
  -moz-transition: box-shadow 0.1s, transform 0.2s;
  -ms-transition: box-shadow 0.1s, transform 0.2s;
  -o-transition: box-shadow 0.1s, transform 0.2s;
  transform: translate(0);
}

@media (hover: hover) {
  .clickable-shadow:hover {
    box-shadow: 1px 7px 7px 0px rgba(78, 78, 78, 0.2);
    -webkit-box-shadow: 1px 7px 7px 0px rgba(51, 51, 51, 0.2);
    -moz-box-shadow: 1px 7px 7px 0px rgba(51, 51, 51, 0.2);
    transform: translateY(-1px);
  }
}

.clickable-shadow:active {
  transform: translateY(3px);
}

.clickable-shadow input,
.clickable-shadow button {
  transition: box-shadow 0.1s, transform 0.2s;
  -webkit-transition: box-shadow 0.1s, transform 0.2s;
  -moz-transition: box-shadow 0.1s, transform 0.2s;
  -ms-transition: box-shadow 0.1s, transform 0.2s;
  -o-transition: box-shadow 0.1s, transform 0.2s;
}

.clickable-shadow:disabled,
.clickable-shadow button:disabled {
  box-shadow: none;
  filter: grayscale(90%);
  cursor: initial;
  transform: translate(0);
  color: #b0b0b0;
}

/* animations */
.transition-all {
  transition: all 0.35s;
}

.transition-opacity {
  transition: opacity 0.35s;
}

.translate-0 {
  transform: translate(0);
}

.opacity-0 {
  opacity: 0;
}

.opacity-50 {
  opacity: 0.5;
}

.opacity-100 {
  opacity: 1;
}

.scale-50 {
  transform: scale(0.5);
}

.scale-100 {
  transform: scale(1);
}

.scale-150 {
  transform: scale(1.5);
}

.hideOption {
  transform: translateY(85vh);
}

.showOption {
  transform: translateY(0);
}

.offScreen-horizontal {
  transform: translateX(85vw);
}

/* z-index */
.z-index-4 {
  z-index: 4;
}

/* pages */
.feed-container {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .feed-container {
    width: 25em;
  }
}

/* global media queries */
@media screen and (min-width: 768px) {
  main {
    margin-left: 9em;
  }
}

/* remove default styles */
button,
input,
optgroup,
select,
textarea,
html input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="checkbox"],
input[type="radio"],
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button,
input[type="search"],
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
