.desktopNav {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  height: 100vh;
  border: 1px solid #ededed;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  background: rgb(252, 239, 255);
  background: linear-gradient(
    163deg,
    rgba(252, 239, 255, 0.45281862745098034) 0%,
    rgba(237, 250, 255, 0.4472163865546218) 85%
  );
  z-index: 10;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  padding: 1em 0 0.5em 0;
}

.navUl {
  height: 60%;
  list-style: none;
  padding: 0 0 0 1em;
  margin: 0;
}

.bottomNavUl {
  list-style: none;
  padding: 0 0 0 1em;
  margin: 0;
}

.imageContainer {
  width: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding-right: 1em;
}

.imageContainer small {
  font-size: 14px;
}

.settingsImageContainer img {
  border-radius: 55px;
}

.activeBar {
  width: 3px;
  height: 2.35em;
  border-radius: 100px;
  background-color: #d8d8d8;
}

.navTitleCover {
  transform: rotateY(90deg);
  transform-origin: left;
}

#postIcon {
  height: 3.6em;
}

.hoverAnimation {
  animation: removeCover 0.18s 0.35s linear forwards;
}

@keyframes removeCover {
  0% {
    transform: rotateY(90deg);
    -webkit-transform: rotateY(90deg);
  }

  100% {
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
  }
}

@media screen and (max-width: 767px) {
  .desktopNav {
    display: none;
  }
}
