.mobileNav {
  position: fixed;
  border-top-right-radius: 45px;
  border-top-left-radius: 45px;
  backdrop-filter: blur(13px);
  -webkit-backdrop-filter: blur(13px);
  border: 1px solid #ededed62;
  background: rgba(245, 245, 245, 0.924);
  z-index: 9;
  transition: transform 0.35s ease-in-out;
  height: auto;
  bottom: 0;
  padding: 1.5em 0.75em 5em 0.75em;
}

#menuBarContainer {
  padding: 1.75em;
  position: fixed;
  bottom: 0;
  z-index: 10;
}

#menuBar {
  margin: 0 auto;
  padding: 0.15em 0;
  width: 90%;
  background: #ffffffde;
  backdrop-filter: blur(13px);
  -webkit-backdrop-filter: blur(13px);
}

.dropMenu {
  transform: translateY(85vh);
}

.raiseNav {
  transform: translateY(0);
}

@media screen and (min-width: 768px) {
  .mobileNav,
  #menuBarContainer {
    display: none;
  }
}
