.controls {
  z-index: 3;
  cursor: pointer;
}

.progressBar {
  height: 3px;
  width: 100%;
  left: 0;
}

.postMediaContainer {
  border-radius: 10px;
  overflow: hidden;
}

.buffering {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}
