.postContainer {
  position: relative;
  margin-bottom: 5em;
  background: whitesmoke;
  overflow: hidden;
}

.postDescription {
  font-size: 18px;
  width: 85%;
  padding-left: 10px;
}

.postUiOverlay {
  position: absolute;
  transition: opacity 0.075s linear;
  -webkit-transition: opacity 0.075s linear;
  -moz-transition: opacity 0.075s linear;
  -ms-transition: opacity 0.075s linear;
  -o-transition: opacity 0.075s linear;
}

.postActionsContainer {
  position: absolute;
  background: rgba(0, 0, 0, 0.45);
  transition: opacity 0.075s linear;
  -webkit-transition: opacity 0.075s linear;
  -moz-transition: opacity 0.075s linear;
  -ms-transition: opacity 0.075s linear;
  -o-transition: opacity 0.075s linear;
}
