.reactionContainerStyles {
  transition: height 1s;
}

.catLaughContainer,
.catLoveContainer {
  transition: transform 0.65s cubic-bezier(0.29, -0.36, 0.38, 1.27),
    opacity 0.15s;
  z-index: 2;
}

.translateLoveStart {
  transform: translateX(-100%);
}

.translateLaughStart {
  transform: translateX(100%);
}

.reactionLoveHover:hover {
  transform: translateX(-100%) scale(1.2);
}

.reactionLaughHover:hover {
  transform: translateX(100%) scale(1.2);
}

.translateLoveEnd {
  transform: translateX(0%) scale(1.3);
}

.translateLaughEnd {
  transform: translateX(0%) scale(1.3);
}

.awardBackgroundStylesHidden,
.awardBackgroundStylesShow {
  transition: opacity 0.35s;
}

.awardBackgroundStylesHidden {
  opacity: 0;
}

.awardBackgroundStylesShow {
  width: 100px;
  height: 100px;
  animation: spin 8s infinite linear;
}

.afterReactionContainer {
  transition: opacity 0.35s;
  bottom: 0;
}

.buttonContainer {
  overflow: hidden;
  padding: 0.5em 0;
  top: 0.5em;
  height: 3.65em;
}

.buttonContainerMovable {
  transition: transform 0.65s cubic-bezier(0.29, -0.36, 0.38, 1.27) !important;
}

.showFollow {
  transform: translateY(-8em) !important;
}

.showSub {
  transform: translateY(-4.25em) !important;
}

.showPoke {
  transform: translateY(0) !important;
}

.checkmark {
  transition: transform 0.5s cubic-bezier(0.29, -0.36, 0.38, 1.27);
  transform: scale(0);
}

.checkmarkScaleUp {
  transform: scale(1);
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
