.catLaughContainer,
.catLoveContainer {
  transition: transform 0.25s cubic-bezier(0.5, -0.6, 0.5, 1.6), opacity 0.35s,
    right 0.5s, left 0.5s;
  z-index: 2;
}

.translateLoveStart {
  transform: translateX(-125%);
}

.translateLaughStart {
  transform: translateX(125%);
}

.reactionLoveHover:hover {
  transform: translateX(-125%) scale(1.2);
}

.reactionLaughHover:hover {
  transform: translateX(125%) scale(1.2);
}

.translateLoveEnd {
  transform: translateX(50%) scale(1.5);
  right: 50%;
}

.translateLaughEnd {
  transform: translateX(-50%) scale(1.5);
  left: 50%;
}

.awardBackgroundStylesHidden,
.awardBackgroundStylesShow {
  transition: opacity 0.75s;
}

.awardBackgroundStylesHidden {
  opacity: 0;
}

.awardBackgroundStylesShow {
  animation: spin 3s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* @keyframes scale {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
} */
