/* Color Variables */
:root {
  --color-1: #1fffd6;
  --color-2: #37eeff;
  --color-3: #557aff;
  --color-4: #583eff;
  --color-5: #d735ff;
  --color-6: #ed29ff;
  --color-3a: #3a3a3a;
  --color-white: #ffffff;

  --discord-color: #2d4dff;
  --insta-color: #d4407e;
  --reddit-color: #e94517;
  --twitch-color: #6416ff;
  --twitter-color: #0a82eb;
  --youtube-color: #e44d3f;
}

/* Global Elements */
* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Quicksand", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

main {
  padding: 0.5em 0.3em 3em 0.25em;
  min-width: 320px;
  max-width: 1920px;
}

.hr {
  width: 85%;
  height: 1px;
  background-color: #e6e6e6;
  margin: 0.6em auto;
}

h1,
h2 {
  letter-spacing: 3px;
  font-weight: 500;
  margin: 0;
  color: var(--color-3a);
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

h3,
h4,
h5,
h6 {
  letter-spacing: 1px;
  font-weight: 500;
  margin: 0;
  color: var(--color-3a);
}

p,
small {
  letter-spacing: 1px;
  margin: 0 0 0.5em 0;
}

p {
  color: var(--color-3a);
}

p,
a,
input,
button,
textarea,
select {
  font-size: 20px;
  font-family: "Quicksand", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

small {
  font-size: 16px;
  color: var(--color-3a);
}

/* Gradients */
.gradient-1 {
  background: var(--color-4);
  background: linear-gradient(
    141deg,
    var(--color-1) 5%,
    var(--color-3) 35%,
    var(--color-4) 65%,
    var(--color-5) 85%,
    var(--color-6) 100%
  );
}

.gradient-2 {
  background: var(--color-2);
  background: linear-gradient(
    132deg,
    rgba(55, 238, 255, 1) 0%,
    rgba(85, 122, 255, 1) 25%,
    rgba(88, 62, 255, 1) 50%,
    rgba(215, 53, 255, 1) 75%,
    rgba(237, 41, 255, 1) 100%
  );
}

.gradient-3 {
  background: var(--color-5);
  background: linear-gradient(
    132deg,
    rgba(237, 41, 255, 1) 0%,
    rgba(215, 53, 255, 1) 25%,
    rgba(88, 62, 255, 1) 50%,
    rgba(85, 122, 255, 1) 75%,
    rgba(55, 238, 255, 1) 100%
  );
}

.gradient-4 {
  background: var(--color-2);
  background: linear-gradient(
    132deg,
    rgba(31, 255, 214, 1) 0%,
    rgba(55, 238, 255, 1) 20%,
    rgba(88, 62, 255, 1) 55%,
    rgba(85, 122, 255, 1) 80%,
    rgba(215, 53, 255, 1) 100%
  );
}

.gradient-5 {
  background: var(--color-3);
  background: linear-gradient(
    132deg,
    rgba(85, 122, 255, 1) 0%,
    rgba(88, 62, 255, 1) 37%,
    rgba(215, 53, 255, 1) 75%,
    rgba(237, 41, 255, 1) 99%
  );
}

.gradient-6 {
  background: var(--color-4);
  background: linear-gradient(
    132deg,
    rgba(215, 53, 255, 1) 0%,
    rgba(88, 62, 255, 1) 51%,
    rgba(113, 0, 255, 1) 100%
  );
}

/* backgrounds */
.background-white {
  background-color: var(--color-white);
}

/* fonts */
.weight-400 {
  font-weight: 400;
}

.weight-500 {
  font-weight: 500;
}

.gradient-text {
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

/* layouts */
.display-none {
  display: none;
}

.display-block {
  display: block;
}

.display-inline {
  display: inline;
}

.display-flex-row {
  display: flex;
}

.display-inline-flex {
  display: inline-flex;
}

.display-flex-column {
  display: flex;
  flex-direction: column;
}

.display-inline-flex-column {
  display: inline-flex;
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

/* padding */
.padding-2 {
  padding: 2px;
}

.padding-5 {
  padding: 5px;
}

/* gaps (used to seperate content) */
.bottom-margin-none {
  margin-bottom: 0;
}

.bottom-margin-small {
  margin-bottom: 0.5em;
}

.bottom-margin-medium {
  margin-bottom: 1em;
}

.bottom-margin-large {
  margin-bottom: 2.5em;
}

/* width & height */
.width-100 {
  width: 100%;
}

.height-100 {
  height: 100%;
}

.width-50 {
  width: 50%;
}

.height-50 {
  height: 50%;
}

/* border-radius */
.border-radius-5 {
  border-radius: 5px;
}

.border-radius-8 {
  border-radius: 8px;
}

.border-radius-10 {
  border-radius: 10px;
}

.border-radius-20 {
  border-radius: 20px;
}

/* shadows */
.clickable-shadow {
  box-shadow: 7px 7px 7px -1px rgba(117, 117, 117, 0.2);
  -webkit-box-shadow: 7px 7px 7px -1px rgba(117, 117, 117, 0.2);
  -moz-box-shadow: 7px 7px 7px -1px rgba(117, 117, 117, 0.2);
  transition: box-shadow 0.3s, transform 0.2s;
  transform: translate(0);
}

.clickable-shadow:hover {
  box-shadow: 10px 10px 10px -1px rgba(78, 78, 78, 0.2);
  -webkit-box-shadow: 10px 10px 10px -1px rgba(51, 51, 51, 0.2);
  -moz-box-shadow: 10px 10px 10px -1px rgba(51, 51, 51, 0.2);
  transition: box-shadow 0.3s, transform 0.2s;
  transform: translateY(-1px);
}

.clickable-shadow:active {
  transform: translateY(3px);
}

/* animations */
.translateY-0 {
  transform: translate(0);
}

/* global media queries */
@media screen and (min-width: 768px) {
  main {
    padding-left: 9em;
  }
}

/* remove default styles */
button,
input,
optgroup,
select,
textarea,
html input[type="button"],
input[type="reset"],
input[type="submit"],
button[disabled],
html input[disabled],
input[type="checkbox"],
input[type="radio"],
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button,
input[type="search"],
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
